# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# macOS Thumbnails
Icon?

# macOS Directory metadata
.Spotlight-V100
.Trashes
.fseventsd

# macOS temporary files
.TemporaryItems
.DocumentRevisions-V100
.VolumeIcon.icns
*.d

# Checkstyle (downloaded by CI and optionally for local lint)
checkstyle.jar

/build/ios/Build
/build/ios/CompilationCache.noindex
/build
